.footer {
    position: relative;
    width: 100%;
    bottom: 10px;
    margin: auto;
    text-align: center;
    clear: both;
}

.footer__credit,
.footer__github {
    margin: 0 0 5px 0;
}

.footer__powered-by {
    padding-right: 2px;
    color: #e2e2e2;
}

.footer__github a {
    font-size: 12px;
    text-decoration: none;
    color: #6e7580;
}