html {
    height:100%;
    background-color: #121e2d;
    font-family: 'Roboto', 'Arial', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

/*
background: rgba(14,14,14,1);
background: linear-gradient(180deg, rgba(13,71,111,1) 0%, rgba(14,14,14,1) 100%);
color: #14c3f4*/