.search-bar {
  width: 300px;
  max-width: 300px;
  margin-right: 20px;
  padding: 20px 0 0 0;
  float: right;
  clear: both;
  z-index: 99;
}

.search-bar__field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background-color: #1c2e42;
}

.search-bar__input {
  flex-grow: 1;
  padding: 5px 10px 5px 10px;
  border: 0;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  background-color: #1c2e42;
  color: #8798aa;
}

.search-bar__input::placeholder {
  color: #8798aa;
  opacity: 0.5;
}

.search-bar__input:focus {
  border: 0;
  outline: none;
}

.search-bar__button {
  margin: 0;
  padding: 5px 10px 5px 10px;
  border: 0;
  opacity: 0.7;
  background-color: transparent;
  cursor: pointer;
}

.search-bar__button:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

@media screen and (max-width:480px) {
  .search-bar {
    width: 100%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    float: none;
  }
  .search-bar__input {
    width: 100%;
  }
}